# ATC命名规范：采用驼峰命名法，函数采用小写开头，类中变量采用下划线加小写开头，函数内变量采用小写开头，全局变量采用大写开头（包括类中静态变量）

BasedOnStyle: Google

Language: Cpp               
UseTab: Never                 
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
